.home-body {
    background:
    linear-gradient(
        rgba(125, 125, 125, 0.75), 
        rgba(255, 255, 255, 0.25));
    background-size: 100%;
    background-repeat: no-repeat;
}

body.about-body {
    background:
        linear-gradient(
            rgba(125, 125, 125, 0.75), 
            rgba(255, 255, 255, 0.25));
    background-size: cover;
    background-repeat: no-repeat;
}

body.projects-body {
    background:
    radial-gradient(
        rgba(255, 255, 255, 0.30),
        rgba(107, 106, 106, 0.75));
    background-size: 100%;
    background-repeat: no-repeat;
}

.lizard {
    background:
        url("/Users/kntiller/w1-portfolio-angelkt07/portfolio-images/DSC_1104.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}

.page {
    display:flex;
    flex-direction: column;
    align-content: flex-end;
}

.bottom-page {
    height: 575px;
}

.top-page {
    height: auto;
}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.bottom-border {
    display: flex;
    flow-direction: row;
    height: 100px;
    background: 
    linear-gradient(
        rgba(62, 62, 62, 0.75), 
        rgba(62, 62, 62, 0.75));
    /* background-color: gray;  */
    justify-content: space-between;
    width: fit-content (100%)
}

.quote {
    color: white;
    font-size: 20px;
    font-stretch: wider;
    text-align: right;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

cite {
    margin-top: 1px;
}

.name {
    color: white;
    font-size: 4rem;
    text-align: left;
    /* font-family: 'Dancing Script'; */
    font-family: 'Handlee';
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.first-link {
    background: 
        linear-gradient(
            rgba(4, 51, 255, 0.80), 
            rgba(4, 51, 255, 0.80));
    /* background-color: blue; */
    font-family: 'Indie Flower';
    color: white; 
    font-weight: normal;  
    text-align: center; 
    width: 33.3%;
    font-size: 1.19rem;
}

.second-link {
    background: 
    linear-gradient(
        rgba(23, 220, 16, 0.80), 
        rgba(23, 220, 16, 0.80));
    /* background-color: green; */
    font-family: 'Indie Flower';
    color: white; 
    font-weight: normal;  
    text-align: center; 
    width: 33.3%;
    font-size: 1.19rem;
}

#pslink {
    background-color: #48B444;
}

.third-link {
    background: 
    linear-gradient(
        rgba(128, 27, 128, 0.80), 
        rgba(128, 27, 128, 0.80));
    /* background-color: purple; */
    font-family: 'Indie Flower';
    color: white; 
    font-weight: normal;  
    text-align: center; 
    width: 33.3%;
    font-size: 1.19rem;
}

.first-link a {
    color: white;
}

.second-link a {
    color: white;
}

.third-link a {
    color: white;
}

h1.about-header {
    font-family: 'Dancing Script';
    font-size: 3rem;
    color: #630AA8;
    padding-top: 2rem;
    line-height: 1rem;
    padding-bottom: 2rem;
}

.funfacts {
    color: rgb(5, 61, 130);
    font-family: 'Indie Flower';
    font-size: 1.80rem;
    padding-left: 2rem;
}

.darkblue {
    color: #053D82;
}
.orange {
    color: #E87005;
}

.red {
    color: red;
}

.facts {
    color: rgb(30, 116, 221);
    font-family: 'Indie Flower';
    font-size: 1.40rem;
    padding-left: 2rem;
    list-style-image: 
        url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/star_bullet_5.png");
}

.socialmedia {
    font-family: 'Nova Flat';
    color: #6321a8;
    font-size: 1.5rem;
    list-style: none;
}

.socialmedia a {
    text-decoration: none;
}

.about-page {
    /* background: 
        url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Background2.png");
    background-position: bottom;
    background-size: cover; */
    display: flex;
    flex-direction: row
    max-height: 1000px;
}

.left-container {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    height: inherit;
    padding-top: 5rem;
}

.middle-container {
    width: 33.3%;
    height: 1080px;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 5rem;
    text-align: left;
}

.right-container {
    width: 26%;
    padding-top: 5rem;
    padding-left: 2rem;
    text-align: left;
    align-content: center;
}

.general {
    font-family: 'Nunito Sans';
    text-indent: 5ch;
}

.profile-picture {
    border: blue solid 2px;
}

.profilepic-caption {
    color: white;
    font-family: 'Rock Salt';
    font-size: 25px;
    margin-top: 0;
}

.projects-page {
    display: flex;
    flex-direction: column;
}

.projects-top {
    display: flex;
    flex-direction: row;
    max-height: auto;
}

.projects_bottom {
    height: 30px;
}

.projects-left-container {
    flex: 1 1 auto;
    float: left;
    width: 66.6%;
}

.projects-right-container {
    flex: 1 1 auto;
    float: right; 
    flex-direction: column;
    width: 33.3%;
    margin-right: 0;
    height: auto;
}

.link {
    line-height: 328px;
    font-size: 2.5rem;
    border: 1px solid white;
}

.photography:hover {
    background-image: url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Camera_bw.jpg");
    background-size: cover;
    height: 50%;
    background-repeat: no-repeat;
    background-position: top;
}

.photography {
    background:
        linear-gradient(rgba(100, 100, 100, 0.75),rgba(100, 100, 100, 0.75)),
        url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Camera_bw.jpg");
    background-size: cover;
    height: 49.60%;
    background-repeat: no-repeat;
}

.artwork:hover {
    background-image: url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Owl-1-2.jpg");
    background-size: cover;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.artwork {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),
        url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Owl-1-2.jpg") top center/cover;
    background-size: cover;
    height: 49.60%;
    background-repeat: no-repeat;
    background-position: center;
}

.link a {
    text-align: center;
    color:white; 
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Indie Flower';
    background-position: top;
}

.artwork a:hover {
    color: black;
}

.artwork a {
    color: white;
}


.completed-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Handlee';
    font-size: 1em;
    /* background-color: green; */
    height: 100%;
    /* max-height: 660px; */
    max-width: 100%;
}

.projectcontainer1 {
    display: flex;
    flex-direction: row;
    width: 100%; 
    height: 50%;
    /* background-color: aqua; */
}

.projectcontainer2 {
    display: flex;
    flex-direction: row;
    height: 50%;
    /* background-color:red; */
}

.lazyriver {
    margin: 1rem;
    width: 75%;
    /* background-color: orange; */
}

p.river {
    text-indent: 5ch;
}

.dogsite {
    margin: 1rem;
    width: 75%;
    /* background-color: yellow; */
}

p.dog {
    text-indent: 5ch;
}

.lazyriverpic {
    width: 25%;
    padding: 1rem;
    /* background-color: purple; */
}

.dogsitepic {
    width: 25%;
    padding-top: 2rem;
    /* background-color: orchid; */
}
.image {
    margin: 2rem;
    height: 150px;
    width: auto;
    border: blue solid 3px;
}

.project > h2 {
    font-size: 2rem;
    padding: .5rem;
    color: #6321A8;
}

.resume-html {
    background-color: #AAAAAA;
}


.resume-top-page {}

.resume-bottom-page {
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    height: 680px;
}

.resume-left-container {
    width: 20%;
    /* background-color: olivedrab; */
}

.resumebox {
    padding: 2rem;
    width: 60%;
    /* background-color: aqua; */
}

.resumecontainer {
    font-family: 'Nunito Sans';
    background-color: white;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.button-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    position: center;
}

.button {
    height: 40px;
    width: 150px;
    font-size: 1.1rem;
    background:
    radial-gradient(
        rgba(0, 78, 174, 2),
        rgba(35, 83, 155, 0.60));
    border: none;
    border-radius: 45px;
}

a.resumebutton {
    color: white;
    text-decoration: none;
    font-family: 'Handlee';
    margin-top: 0rem;
    padding-bottom: 2rem;
}

.resume-right-container {
    width: 20%;
    /* background-color: burlywood; */
}

h1#resume-title {
    margin-bottom: 0rem;
}

p#resume-current-job {
    margin-top: 0;
}

h3#pastwork, #skill-list, #certs, #references {
    text-align:center;
    margin-bottom: .5rem;
}

#skill-list {
    text-align: left;
    margin: 1em;
}

.skills {
    list-style: square;
}

#summary {
     text-indent: 5ch;
}

#refs {
    list-style: none;
    width: fit-content (100%)
}

.daterange {
    margin-top: 0rem;
    font-style: italic;
    font-size: .95rem;
}

.company {
    font-size: .90rem;
    margin-bottom: 0;
}

.jobtitle {
    margin-top: 0;
    font-size: 1.05rem;
    margin-bottom: 0;
    font-style: bold;
    font-family: 'Bitter';
}

.notary {
    list-style: none;
    text-align: center;
}

li.refs, .phone, .refposition {
    list-style: none;
}

.refcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.reference {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.refs {
    width: 20%;
    /* background-color: green; */
}

.phone {
    width: 20%;
    /* background-color: yellow; */
}

.refposition {
    width: 60%;
    /* background-color: orange; */
}

.job {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}

.job-left {
    width: 40%;
    /* background-color: yellow; */
}

.job-right {
    width: 60%;
    /* background-color: orange; */
}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 950px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .home-body {
        background:
        linear-gradient(
            rgba(177, 19, 201, 0.75), 
            rgba(255, 255, 255, 0.25));
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .bottom-border {
        display: flex;
        flow-direction: row;
        height: 100%;
        background: 
        linear-gradient(
            rgba(62, 62, 62, 0.75), 
            rgba(62, 62, 62, 0.75));
        justify-content: space-between;
        width: fit-content (100%)
        margin-right: 1rem;
    }

    .quote {
        color: white;
        font-size: 1rem;
        font-stretch: wider;
        text-align: right;
        margin-right: 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .name {
        color: white;
        font-size: 2rem;
        text-align: left;
        font-family: 'Handlee';
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .about-page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: left
        max-height: 1000px;
    }

    .left-container {
        /* display: flex;
        flex-flow: column wrap; */
        height: 30%;
        width: 100%;
        padding-top: 0rem;
    }
    
    .middle-container {
        height: 33.3%;
        width: 100%;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 1rem;
        text-align: left;
    }
    
    .right-container {
        height: 26%;
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: left;
        align-content: center;
    }

    h1.about-header {
        font-family: 'Dancing Script';
        font-size: 3rem;
        color: #630AA8;
        padding: 0;
        margin-left: 2rem;
        line-height: 40px;
    }

    .image {
        margin: 2rem;
        width: 2rem;
        border: blue solid 3px;
    }

    .socialmedia {
        font-family: 'Nova Flat';
        color: #6321a8;
        font-size: .75rem;
        list-style: none;
    }
    
    .profilepic-caption {
        color: white;
        font-family: 'Rock Salt';
        font-size: 1rem;
        margin-top: 0;
    }

    .general {
        font-family: 'Nunito Sans';
        text-indent: 5ch;
        font-size: 1rem;
    }


    .projects-page {
        display: flex;
        flex-direction: column;
    }

    .projects-top {
        display: flex;
        flex-direction: column;
        max-height: auto;
    }

    .projects_bottom {
        height: 30px;
    }

    .projects-left-container {
        display: flex;
        float: left;
        height: 66.6%;
        width: 100%;
    }

    .projects-right-container {
        display: flex;
        float: right; 
        flex-direction: column;
        height: 33.3%;
        margin-right: 0;
        width: auto;
    }


    .completed-projects {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        font-family: 'Handlee';
        font-size: 1em;
        /* background-color: green; */
        height: 100%;
        /* max-height: 660px; */
        max-width: 100%;
    }

    .projectcontainer1 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%; 
        height: 50%;
        /* background-color: aqua; */
    }

    .projectcontainer2 {
        display: flex;
        flex-direction: column;
        height: 50%;
        /* background-color:red; */
    }

    .lazyriver {
        margin: 1rem;
        width: 75%;
        /* background-color: orange; */
    }

    p.river {
        text-indent: 5ch;
        margin-right: 0;
    }

    .dogsite {
        margin-left: 1rem;
        margin-right: 0;
        width: 75%;
        /* background-color: yellow; */
    }

    p.dog {
        text-indent: 5ch;
    }

    .lazyriverpic {
        width: 25%;
        padding: 1rem;
        /* background-color: purple; */
    }

    .dogsitepic {
        width: 25%;
        padding-top: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
        /* background-color: orchid; */
    }

    .image {
        margin: 1rem;
        height: 150px;
        width: auto;
        border: blue solid 3px;
    }

        
    .photography {
        background:
            url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Camera_bw.jpg");
        background-size: cover;
        height: 49.60%;
        background-repeat: no-repeat;
    }

    .artwork {
        background: 
            url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Owl-1-2.jpg") top center/cover;
        background-size: cover;
        height: 49.60%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .resume-top-page {}

    .resume-bottom-page {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .resume-left-container {
        height: 10%;
        /* background-color: olivedrab; */
    }

    .resumebox {
        height: 80%;
        width: auto;
        /* background-color: aqua; */
    }

    .resumecontainer {
        font-family: 'Nunito Sans';
        background-color: white;
        margin-bottom: 1rem;
        width: auto;
    }

    .resume-right-container {
        height: 10%;
        /* background-color: burlywood; */
    }


    .refcontainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .reference {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: stretch;
        width: 100%;
        margin-bottom: 1rem;
    }

    .refs {
        font-size: 1rem;
        width: 100%;
        /* background-color: green; */
    }

    .phone {
        font-size: 1rem;
        width: 100%;
        /* background-color: yellow; */
    }

    .refposition {
        font-size: 1rem;
        width: 100%;
        /* background-color: orange; */
    }

    .job {
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
    }

    .job-left {
        font-size: 1rem;
        height: 40%;
        width: 100%;
        /* background-color: yellow; */
    }

    .job-right {
        font-size: 1rem;
        height: 60%;
        width: 100%;
        /* background-color: orange; */
    }

    #skill-list {
        text-align: left;
        margin: 1em;
        font-size: 1rem;
    }
    
    .skills {
        list-style: square;
        margin-bottom: 2px;
    }

    .button-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        position: center;
    }
    

}

