body {
    background:
    linear-gradient(
        rgba(125, 125, 125, 0.75), 
        rgba(255, 255, 255, 0.25));
    background-size: 100%;
    background-repeat: no-repeat;
}
body.about-body {
    background:
    linear-gradient(
        rgba(125, 125, 125, 0.75), 
        rgba(255, 255, 255, 0.25));
    background-size: 100%;
    background-repeat: no-repeat;
}

.lizard {
    background:
        url("/Users/kntiller/w1-portfolio-angelkt07/portfolio-images/DSC_1104.jpg") center;
        /* url("/Users/kntiller/w1-portfolio-angelkt07/lizard-rename.jpg"); */
        /* url("/Users/kntiller/w1-portfolio-angelkt07/Destiny.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    position: center;
}

.page {
    display:flex;
    flex-direction: column;
    align-content: flex-end;
}

.bottom-page {
    height: 575px;
}

.top-page {
    height: auto;
}

.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.bottom-border {
    display: flex;
    flow-direction: row;
    height: 100px;
    background: 
    linear-gradient(
        rgba(62, 62, 62, 0.75), 
        rgba(62, 62, 62, 0.75));
    /* background-color: gray;  */
    justify-content: space-between;
    width: fit-content (100%)

}

.quote {
    color: white;
    font-size: 20px;
    font-stretch: wider;
    text-align: right;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

cite {
    margin-top: 1px;
}

.name {
    color: white;
    font-size: 4rem;
    text-align: left;
    /* font-family: 'Dancing Script'; */
    font-family: 'Handlee';
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.first-link {
    background: 
        linear-gradient(
            rgba(4, 51, 255, 0.75), 
            rgba(4, 51, 255, 0.75));
    /* background-color: blue; */
    font-family: 'Indie Flower';
    color: white; 
    font-weight: normal;  
    text-align: center; 
    width: 33.3%;
}

.second-link {
    background: 
    linear-gradient(
        rgba(23, 220, 16, 0.70), 
        rgba(23, 220, 16, 0.70));
    /* background-color: green; */
    font-family: 'Indie Flower';
    color: white; 
    font-weight: normal;  
    text-align: center; 
    width: 33.3%;
}

.third-link {
    background: 
    linear-gradient(
        rgba(128, 27, 128, 0.75), 
        rgba(128, 27, 128, 0.75));
    /* background-color: purple; */
    font-family: 'Indie Flower';
    color: white; 
    font-weight: normal;  
    text-align: center; 
    width: 33.3%;
}

.first-link a {
    color: white;
}

.second-link a {
    color: white;
}

.third-link a {
    color: white;
}

h1.about-header {
    font-family: 'Dancing Script';
    font-size: 3rem;
    color: #630AA8;
    margin-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.funfacts {
    color: rgb(5, 61, 130);
    font-family: 'Indie Flower';
    font-size: 1.80rem;
    padding-left: 2rem;
}

.darkblue {
    color: #053D82;
}
.orange {
    color: #E87005;
}

.red {
    color: red;
}

.facts {
    color: rgb(30, 116, 221);
    font-family: 'Indie Flower';
    font-size: 1.40rem;
    padding-left: 2rem;
    list-style-image: 
        url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/star_bullet_5.png");
}

.about-page {
    display: flex;
    flex-direction: row
    max-height: 1000px;
}

.left-container {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    height: inherit;
}

.middle-container {
    width: 33.3%;
    height: 1080px;
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: 5rem;
    text-align: left;
    /* background-color: aqua; */
}

.right-container {
    width: 26%;
    padding-top: 5rem;
    padding-left: 2rem;
    text-align: left;
    align-content: center;
}

.general {
    font-family: 'Nunito Sans';
    text-indent: 5ch;
}

.profile-picture {
    border: blue solid 2px;
}

.profilepic-caption {
    color: white;
    font-family: 'Rock Salt';
    font-size: 25px;
    margin-top: 0;
}
/* 
body.projects-body {
    min-height: 100%;
} */

.projects-page {
    display: flex;
    flex-direction: column;
    max-height: 1080px;
}

.projects-top {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    max-height: screen;
    min-height: 100%;
}


.projects_bottom, .projects-top:after {
    height: 30px;
}

.projects-left-container {
    display: block;
    float: left;
    height: 650px;
    width: 66.6%;
    background-color: green;
}

.projects-right-container {
    float: right; 
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 33.3%;
}

h1.resume {
    text-align: center;
    font-size: 75px;
    font-family: 'Dancing Script';
}

.photography {
    background-image: url("https://raw.githubusercontent.com/momentum-cohort-2019-02/w1-portfolio-angelkt07/master/portfolio-images/Camera_bw.jpg");
    background-size: contain;
    background-repeat: no repeat;
}



@media (min-width 720px) {
    .lizard {
        background:
            url("/Users/kntiller/w1-portfolio-angelkt07/DSC_1104.jpg") center;
            /* url("/Users/kntiller/w1-portfolio-angelkt07/DSC_2285.jpg"); */
            /* url("/Users/kntiller/w1-portfolio-angelkt07/Destiny.jpg"); */
        background-repeat: no-repeat;
        background-size: 100%;
        position: center;
        box-sizing: inherit;
    }

}